.footer > div {
  display: flex;
}

.footer > div > button {
  background: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 25px 15px;
  flex-grow: 1;
}

.footer > div > button span {
  font-weight: bold;
}
